@model ADminLteTest.Entites.Expert

@{
    ViewData["Title"] = "الحذف";
}

<h1 class="text-right">الحذف</h1>

<div>
    <hr />
    <dl class="row text-right">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalMobile)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.PersonalMobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkMobile)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.WorkMobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegularMail)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.RegularMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkingFor)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.WorkingFor)
        </dd>
        <dt class = "col-sm-2">
            طبيعة العمل
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.WorkNature.NameAr)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="text-right">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="الحذف" class="btn btn-danger" /> |
        <a asp-action="Index">العودة إلى القائمة</a>
    </form>
</div>
