@model IEnumerable<ADminLteTest.Entites.Expert>

@{
    ViewData["Title"] = "الخبراء";
}

<h1 class="text-right">الخبراء</h1>

<p class="text-right">
    <a asp-action="Create">إضافة خبير</a>
</p>
<table class="table table-striped" id="tblExperts" style="width:100%">
    <thead>
        <tr>
            <th class="text-end">
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th class="text-end">
                @Html.DisplayNameFor(model => model.PersonalMobile)
            </th>
            <th class="text-end">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="text-end">
                طبيعة العمل
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalMobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkNature.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">التعديل</a> |
                <a asp-action="Details" asp-route-id="@item.Id">التفاصيل</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">الحذف</a>  |
                <a asp-controller="ExpertQualifications" asp-action="Index" asp-route-ExpertNo="@item.Id">المؤهلات </a> |
                <a asp-controller="ExpertTrainings" asp-action="Index" asp-route-ExpertNo="@item.Id">التدريب</a>  |
                <a asp-controller="ExpertPublications" asp-action="Index" asp-route-ExpertNo="@item.Id">الأعمال المنشورة</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready( function () {
            $('#tblExperts').DataTable({
                "language": {
                    processing: "جاري المعالجة ",
                    search: "البحث:  ",
                    lengthMenu:    "إظهار _MENU_ سجلات",
                    info:           "إظهار _START_ إلى _END_ من _TOTAL_ سجل",
                    infoEmpty:      "إظهار 0 إلى 0 من 0 سجلات",
                    loadingRecords: "جاري معالجة السجلات...",
                    zeroRecords:    "لا توجد سجلات !",
                    emptyTable:     "لا توجد بيانات !",
                    paginate: {
                        first:      "الأول",
                        previous:   "السابق",
                        next:       "التالي",
                        last:       "الأخير"
                    }
              }
            });
        });
    </script>
}