@model ADminLteTest.Entites.HandicappedCategory

@{
    ViewData["Title"] = "الحذف";
}

<h1 class="text-right">الحذف</h1>

<div>
    <hr />
    <dl class="row text-right">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgDetailsNo)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.OrgDetails.NameAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryNo)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Categories.NameAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeNo)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Ages.AgeAvarege)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenderNo)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Genders.GenderType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="text-right">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="الحذف" class="btn btn-danger" /> |
        <a asp-action="Index">العودة إلى القائمة</a>
    </form>
</div>
