@model ADminLteTest.Entites.HandicappedCategory

@{
    ViewData["Title"] = "التفاصيل";
}

<h1 class="text-right">التفاصيل</h1>

<div>
    <hr />
    <dl class="row text-right">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgDetailsNo)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.OrgDetails.NameAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryNo)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Categories.NameAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeNo)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Ages.AgeAvarege)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenderNo)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Genders.GenderType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
<div class="text-right">
    <a asp-action="Edit" asp-route-id="@Model?.Id">التعديل</a> |
    <a asp-action="Index">العودة إلى القائمة</a>
</div>
