@model IEnumerable<ADminLteTest.Entites.HandicappedCategory>

@{
    ViewData["Title"] = "الفئات";
}

<h1 class="text-right">الفئات</h1>

<p class="text-right">
    <a asp-action="Create" asp-route-OrgDetailsNo="@ViewBag.OrgDetailsId">إضافة فئة</a>
</p>
<table class="table table-striped" id="tblHandicappedCategory" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenderNo)
            </th>
            <th>
                العدد
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.NameAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ages.AgeAvarege)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genders.GenderType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">التعديل</a> |
                <a asp-action="Details" asp-route-id="@item.Id">التفاصيل</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">الحذف</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready( function () {
            $('#tblHandicappedCategory').DataTable({
                "language": {
                    processing: "جاري المعالجة ",
                    search: "البحث:  ",
                    lengthMenu:    "إظهار _MENU_ سجلات",
                    info:           "إظهار _START_ إلى _END_ من _TOTAL_ سجل",
                    infoEmpty:      "إظهار 0 إلى 0 من 0 سجلات",
                    loadingRecords: "جاري معالجة السجلات...",
                    zeroRecords:    "لا توجد سجلات !",
                    emptyTable:     "لا توجد بيانات !",
                    paginate: {
                        first:      "الأول",
                        previous:   "السابق",
                        next:       "التالي",
                        last:       "الأخير"
                    }
              }
            });
        });
    </script>
}