@model ADminLteTest.Entites.ExpertQualifications

@{
    ViewData["Title"] = "التفاصيل";
}

<h1 class="text-right">التفاصيل</h1>

<div>
    <hr />
    <dl class="row text-right">
        <dt class = "col-sm-2">
            الخبير
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Expert.FullName)
        </dd>
        <dt class = "col-sm-2">
            المؤهل
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Qualification.NameAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Division)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Division)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Faculty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.University)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.University)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraduationDate)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.GraduationDate)
        </dd>
    </dl>
</div>
<div class="text-right">
    <a asp-action="Edit" asp-route-id="@Model?.Id">التعديل</a> |
    <a asp-action="Index">العودة إلى القائمة</a>
</div>
