@model ADminLteTest.Entites.OrgnaizationsApplication

@{
    ViewData["Title"] = "الحذف";
}

<h1 class="text-right">الحذف</h1>

<div>
    <hr />
    <dl class="row text-right">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ApplicantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsApproched)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.IsApproched)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprochNature)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ApprochNature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResourcesRoom)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ResourcesRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualificationPeriod)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.QualificationPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsProgreessed)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.IsProgreessed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdeasAndRecommondaions)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.IdeasAndRecommondaions)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="text-right">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="الحذف" class="btn btn-danger" /> |
        <a asp-action="Index">العودة إلى القائمة</a>
    </form>
</div>
