@model ADminLteTest.Entites.ExpertPublications

@{
    ViewData["Title"] = "الحذف";
}

<h1 class="text-right">الحذف</h1>

<div>
    <hr />
    <dl class="row text-right">
        <dt class = "col-sm-2">
            الخبير
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Expert.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishYear)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.PublishYear)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="text-right">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="الحذف" class="btn btn-danger" /> |
        <a asp-action="Index">العودة إلى القائمة</a>
    </form>
</div>
