@model ADminLteTest.Entites.ExpertPublications

@{
    ViewData["Title"] = "التفاصيل";
}

<h1 class="text-right">التفاصيل</h1>

<div>
    <hr />
    <dl class="row text-right">
        <dt class = "col-sm-2">
            الخبير
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Expert.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishYear)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.PublishYear)
        </dd>
    </dl>
</div>
<div class="text-right">
    <a asp-action="Edit" asp-route-id="@Model?.Id">التعديل</a> |
    <a asp-action="Index">العودة إلى القائمة</a>
</div>
