@model IEnumerable<ADminLteTest.Entites.ExpertPublications>

@{
    ViewData["Title"] = "المنشورات العلمية";
}

<h1 class="text-right">المنشورات العلمية</h1>

<p class="text-right">
    <a asp-action="Create" asp-route-ExpertNo="@ViewBag.ExpertNo">إضافة منشور علمي</a>
</p>
<table class="table table-striped" id="tblExpertPublications" style="width:100%">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Expert)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Expert.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishYear)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">التعديل</a> |
                <a asp-action="Details" asp-route-id="@item.Id">التفاصيل</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">الحذف</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready( function () {
            $('#tblExpertPublications').DataTable({
                "language": {
                    processing: "جاري المعالجة ",
                    search: "البحث:  ",
                    lengthMenu:    "إظهار _MENU_ سجلات",
                    info:           "إظهار _START_ إلى _END_ من _TOTAL_ سجل",
                    infoEmpty:      "إظهار 0 إلى 0 من 0 سجلات",
                    loadingRecords: "جاري معالجة السجلات...",
                    zeroRecords:    "لا توجد سجلات !",
                    emptyTable:     "لا توجد بيانات !",
                    paginate: {
                        first:      "الأول",
                        previous:   "السابق",
                        next:       "التالي",
                        last:       "الأخير"
                    }
              }
            });
        });
    </script>
}