@model ADminLteTest.Entites.HandicappedInfo

@{
    ViewData["Title"] = "الحذف";
}

<h1 class="text-right">الحذف</h1>

<div>
    <hr />
    <dl class="row text-right">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weaknesses)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Weaknesses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherMobile)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.FatherMobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherMobile)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.MotherMobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            النوع
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Genders.GenderType)
        </dd>
        <dt class = "col-sm-2">
            المنظمة
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.OrgDetails.NameAr)
        </dd>
        <dt class = "col-sm-2">
            المدينة
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Cities.NameAr)
        </dd>
        <dt class = "col-sm-2">
            القطاع
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Districts.NameAr)
        </dd>
        <dt class = "col-sm-2">
            الفئة
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Categories.NameAr)
        </dd>
        <dt class = "col-sm-2">
            طبيعة العمل
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.WorkNatures.NameAr)
        </dd>
        <dt class = "col-sm-2">
            الحالة الإقتصادية
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.EconomicLevels.NameAr)
        </dd>
        <dt class = "col-sm-2">
            نوع السكن
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.AccommodationTypes.NameAr)
        </dd>
        <dt class = "col-sm-2">
            الحالة التعليمية
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.PersonalEducationalStatuses.NameAr)
        </dd>
        <dt class = "col-sm-2">
            حالة الأب التعليمية
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.FatherEducationalStatuses.NameAr)
        </dd>
        <dt class = "col-sm-2">
            حالة الأم التعليمية
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.MotherEducationalStatuses.NameAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsWorking)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.IsWorking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HafezCapability)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.HafezCapability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SwimmingCapability)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.SwimmingCapability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrawAndColoringCapability)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DrawAndColoringCapability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LiteratureCapability)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.LiteratureCapability)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="text-right">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="الحذف" class="btn btn-danger" /> |
        <a asp-action="Index">العودة إلى القائمة</a>
    </form>
</div>
