@model ADminLteTest.Entites.HandicappedInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HandicappedInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weaknesses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weaknesses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherMobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherMobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genders)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genders.GenderType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrgDetails.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cities.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Districts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Districts.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkNatures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkNatures.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EconomicLevels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EconomicLevels.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccommodationTypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccommodationTypes.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationalStatusNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalEducationalStatuses.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherEducationalStatusNo)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.FatherEducationalStatuses.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherEducationalStatuses)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.MotherEducationalStatuses.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsWorking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsWorking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HafezCapability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HafezCapability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SwimmingCapability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SwimmingCapability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrawAndColoringCapability)
        </dt>
        <dd class = "col-sm-11">
            @Html.DisplayFor(model => model.DrawAndColoringCapability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LiteratureCapability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LiteratureCapability)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
